&_bottom {
  position: relative;
  top: 30px;
  left: -130px;

  z-index: 2;
}


@media screen and (max-width: 768px){

  &_bottom {

    top: 214px;
    left: -300px;

    z-index: auto;
  }

  .cards_end {
    z-index: 7;
  }

  .input-min::placeholder {
    color: #bec6cf;
  }


}