&__item-link {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;

  padding: 20px;
  margin-right: 100px;

  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 18px;

  @import '_active/menu__item-link_active';
}

