@import './components/common';
@import './components/menu/menu';
@import './components/info/info';
@import './components/button/button';
@import './components/card/card';
@import './components/input/input';

body {
  font-family: ArialMT;
  padding: 10px;
}

.info__title_big {
  font-weight: normal;
  font-size: 20px;
}

.info__title_padding_xl {
  padding: 30px 0 30px 40px;
}